astroid==3.2.4
attrs==22.2.0
cffi==1.15.1
coverage==5.5
cryptography==43.0.1
darglint==1.8.1
dill==0.3.9
exceptiongroup==1.1.1
future==0.18.3
hypothesis==6.70.1
isort==5.13.2
mccabe==0.7.0
mypy==1.13.0
mypy-extensions==1.0.0
platformdirs==4.3.6
pycodestyle==2.10.0
pycparser==2.21
pydocstyle==6.3.0
pyflakes==3.0.1
pylama==8.4.1
pylint==3.2.7
redis==5.2.0
setuptools==75.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
tomli==2.0.1
tomlkit==0.13.2
types-cffi==1.16.0.20240331
types-pyOpenSSL==24.1.0.20240722
types-redis==4.6.0.20241004
types-setuptools==75.2.0.20241025
typing_extensions==4.12.2
